@font-face {
    font-family: 'Vazir-FD';
    src: url('../fonts/Vazir-FD.woff');
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Vazir-FD', Arial, Helvetica, sans-serif;
}

.confirmation-code__title {
    text-align: center;
}

#confirmation-code {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #410237;
    color: #310129;
}

#confirmation-code .confirmation-code__form {
    background: #ffffff;
    border-radius: 5px;
    padding: 1rem;
    flex-basis: 500px;
    text-align: right;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);

}

#confirmation-code .confirmation-code__form label {
    display: block;
    margin: 1rem 0;
}

#confirmation-code .confirmation-code__form input {
    width: 100%;

}

#confirmation-code .confirmation-code__form input[type="text"] {
    height: 40px;
    border-radius: 50px;
    border: 1px solid #a9a9a9;
    outline: none;
    font-family: inherit;
    font-size: 16px;
    text-align: right;
    padding:0 1rem;

}

.confirmation-code__button {
    text-align: center;
    margin: 1rem 0 0.5rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-code__form .confirmation-code__btn {
    background: #410237;
    width: 80%;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #410237;
    outline: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
}

.confirmation-code__form .confirmation-code__btn:hover {
    background: #660455;

}

.confirmation-code__form .resent-code__link {
    text-decoration: none;
    margin-top: 1rem;
} 
.confirmation-code__form .resent-code__link:hover {
    color: #4451ff;
} 
::-webkit-input-placeholder {
    /* Edge */
    color: #660455;
}

:-ms-input-placeholder {
    /* Internet Explorer */
    color: #660455;
}

::placeholder {
    color: #5f4b5b;
    text-align: right;
    font-family: 'Vazir-FD';
    font-weight: 200;
    font-size: 12px;
}

.code__form #code__error {
    background: rgb(255, 0, 0,0.1);
    color: red;
    width: 100%;
    border-radius:50px;
    margin-top: 5px;
    height: 40px;
    padding: 5px 8px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ef9a9a;
    display: none;
}
